chapter*/*.out
chapter*/*.csv
chapter*/*.py
chapter*/*.txt
.DS_Store
chapter*/*.o
out_of_curriculum_exercises/
chapter*/.vscode/c_cpp_properties.json
chapter*/.vscode/launch.json
chapter*/.vscode/settings.json
chapter*/main
cchapter*/main.dSYM/Contents/Info.plist
chapter*//main.dSYM/Contents/Resources/DWARF/main